<div class="jumbotron">
  <h1>
    GitHub Searching Engine
  </h1>
  <br>
  <p>The must popular tool to known your followers ;)</p>
  <input #box (keyup.enter)="onEnter(box.value)" type="text" placeholder="Search by name..." id="search">
</div>


<div *ngIf="userExist">
  <div class="container">
    <div class="row">
      <div class="col-6 align-self-center">
        <app-searched-user [user]=user></app-searched-user>
      </div>
      <div class="col-6 align-self-center">
        <div *ngIf="seeFollower">
          <app-follower [follower]=follower></app-follower>
        </div>
        <div *ngIf="!seeFollower">
          <h1>
            <b>Select a follower to see more info!!</b>
          </h1>
        </div>
      </div>
    </div>
    <app-followers-list [user]=user [newSearch]=newSearch (change)="expandFollower($event)"></app-followers-list>

  </div>
  <div *ngIf="!userExist">
    <h1>
      <b>User doesn't exist, try again!</b>
    </h1>
  </div>